<br><br>
  <div class="banner bg-white">
<div class="container ">
    <div class="d-flex justify-content-around" >
      <div>
      <h1 style="font-weight: bolder;">Sumate a TradeIt</h1>
      <br><br>
      <h4 class="d-flex justify-content-start">
      <span><%= image_tag "money-bag.png", alt: "Earnings", width: 40 %> </span>
        Copiá a tus traders favoritos
       </h4>
       <br>
      <h4 class="d-flex justify-content-start">
      <span><%= image_tag "clock.png", alt: "Earnings", width: 30 %> </span>
        Ahorrá tiempo automatizando tus inversiones
       </h4>
       <br>
        <h4 class="d-flex justify-content-start">
          <span><%= image_tag "social-media.png", alt: "Earnings", width: 30 %> </span>
          Aprendé en comunidad
        </h4>
      </div>
      <%= image_tag "astronaut.png", alt: "Astronaut", width: 400, class:"d-flex justify-content-end" %>
    </div>
    <br><br>
  </div>
</div>
<br><br>
<div class="container">
  <h4 class="text-center" style="font-style:oblique;">Definí tu riesgo y explorá traders</h4>
  <br>
  <div class="card-columns">
    <div class="card shadow bg-white rounded p-1 img-fluid animated fadeIn" style="width:360px; height:250px;">
      <div class="card-header text-center">
        <h4>Riesgo Bajo</h4>
      </div>
      <%= image_tag "bajo-riesgo.png", alt: "Astronaut", width: 350 %>
    </div>
    <div class="card shadow bg-white rounded p-1" style="width:360px; height:250px;">
      <div class="card-header text-center">
        <h4>Riesgo Medio</h4>
      </div>
      <%= image_tag "medio-riesgo.png", alt: "Astronaut", width: 350, :class =>"d-flex align-content-end" %>
    </div>
    <div class="card shadow bg-white rounded p-1" style="width:360px; height:250px;">
      <div class="card-header text-center">
        <h4>Riesgo Alto</h4>
      </div>
      <%= image_tag "alto-riesgo.png", alt: "Astronaut", width: 350 %>
    </div>
  </div>
</div>
<br><br><br>
